<header class="bg sticky-top">
    <div class="menu container">

        <nav class="navbar navbar-light navbar-expand-lg navbar-dark">
            <nav class="navbar">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>

            <a rel="canonical"  class="navbar-brand" href="/">CYBLOG</a>

            <nav class="navbar">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="main-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" color="#868686">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </nav>

            <div class="nav-group">
                <div class="collapse navbar-collapse ext-menu" id="ext-menu">
                    <ul class="navbar-nav">
                        {volist name="$extMenu" id="menu"}
                        <li class="nav-item"><a rel="canonical"  class="nav-link" {if condition="$menu.is_target_blank"}target="_blank"{/if} href="{$menu.menu_link}" >{$menu.menu_text}</a></li>
                        {/volist}
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="navbar-nav mr-auto">
                            {volist name="mainMenu" id="menu"}
                            <li class="nav-item ">
                                <a rel="canonical"  {if condition="$menu.is_target_blank" }target="_blank" {/if} class="nav-link"
                                href="{$menu.menu_link}">{$menu.menu_text}</a>
                            </li>
                            {/volist}
                    </ul>

                    <form action="/search" method="get" class="form-inline ">
                        <div class="input-group" style="width: 100%;">
                            <input type="text" class="form-control form-control-sm btn-dark" placeholder="我搜" name="s" aria-label="我搜" aria-describedby="button-search">
                            <div class="input-group-append">
                                <button class="btn btn-dark btn-sm" type="submit" id="button-search">搜索</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>


        </nav>

    </div>
</header>