<script type="text/javascript" defer src="{$app->config->get('app.cdn_host')}/static/jquery-3.5.1.min.js"></script>
<script type="text/javascript" defer src="{$app->config->get('app.cdn_host')}/static/popper.min.js"></script>
<script type="text/javascript" defer src="{$app->config->get('app.cdn_host')}/static/bootstrap/js/bootstrap.min.js"></script>
<!--[if IE]>
<script defer src="https://cdn.bootcdn.net/ajax/libs/Base64/1.1.0/base64.min.js"></script>
<![endif]-->

<script>
  window.onload = function () {
    var floatHtml = "<div className=\"footer_float\" style=\"padding: 15px;width: 320px;height: 200px;background: #b07878;position: fixed;right: 0;z-index: 9999;bottom: 0;\">\n" +
      "    <li style=\"height: 40px;line-height:40px\"><a href=\"http://t.cn/A6VfwoZM\" target=\"_blank\">网上悼念厅丨国士永存 请为袁老献上一束鲜花</a></li>\n" +
      "    <li style=\"height: 40px;line-height:40px\"><a href=\"http://t.cn/A6Vf7qQQ\" target=\"_blank\">播下稻种 致敬袁老 </a></li>\n" +
      "    <li style=\"height: 40px;line-height:40px\"><a href=\"http://t.cn/A6Vf0tpI\" target=\"_blank\">上传一顿饭，纪念袁隆平</a></li>\n" +
      "<audio style='display: none' controls=\"controls\" autoplay=\"autoplay\">\n" +
      "  <source src=\"https://h5.rednet.cn/c/vurf/ysrx/audios/60a92989e49bc603c9244326.mp3\n\" type=\"audio/mpeg\" />\n" +
      "</audio>  " +
      "</div>"
    $('footer').after(floatHtml);
  }
</script>