<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="{$setting.site_author}"/>
    <meta name="copyright" content="CopyRight Itzcy.Com, All Rights Reserved."/>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta name="renderer" content="webkit">
    {load href="/static/bootstrap/css/bootstrap.min.css" /}
    {load href="/static/style.css" /}