<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="author" content="{$setting.site_author}"/>
    <meta name="copyright" content="CopyRight Itzcy.Com, All Rights Reserved."/>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta name="renderer" content="webkit">
    <meta rel="dns-preftech" href="//cdn.itzcy.com">
    <link rel="canonical" href="{:request()->url(true)}" />
    <link rel="stylesheet" type="text/css" href="{$app->config->get('app.cdn_host')}/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{$app->config->get('app.cdn_host')}/static/style.css" />
    {if condition="$mourning"}
    <style>
        /* html {-webkit-filter: grayscale(100%);} */
    </style>
    {/if}
