APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 10.10.1.13DATABASE = itzcy.comUSERNAME = rootPASSWORD = rootHOSTPORT = 33060CHARSET = utf8mb4DEBUG = true[LANG]default_lang = zh-cn