<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About | {$setting.site_name}</title>
    <meta name="keywords" content="{$setting.site_keywords}">
    <meta name="description" content="{$setting.site_description}">
    {include file="public/meta"}
</head>
<body>
{include file="public/header"}
<div class="featured_image">
    <div class="img" style="background-image: url(/static/image/about.jpg);"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="about-item" id="about-me">
                <h4>关于我</h4>
                <div class="about-item-content">
                    <p>95程序猿，自学 PHP 开发，大学期间学的是计算机应用。16年毕业开始工作，主要从事PHP后端开发工作，涉及部分前端技术（说白了就是没前端的时候我就得上）。</p>
                    <p>我和计算机的缘分有点不一般，小学的时候镇里有两个小学，家里把我送去了有微机的学校【光彩希望小学】，然后就开始了我和计算机的不解之缘。</p>
                    <p>目前定居石家庄，一个普普通通的打工人！</p>
                    <p>2021年石家庄疫情封闭期间，我重构了我的博客，就是你现在看到的这个网站！</p>
                    <p></p>
                    <p> 再说一句：PHP是世界上最好的语言</p>

                    <div>
                        <h5>我的联系方式</h5>
                        <ul>
                            <li>GITHUB：<a href="https://github.com/itzcy" target="_blank">https://github.com/itzcy</a>
                            </li>
                            <li>码云：<a href="https://gitee.com/itzcy" target="_blank">https://gitee.com/itzcy</a></li>
                            <li>EMAIL：<a href="mailto:itzcy@itzcy.com">itzcy#itzcy.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="about-item">
                <h4>找到我</h4>
                <div class="about-item-content">
                    <div class="about-find-me" id="about-find-me">
                        <div>
                            <img src="/static/image/bilibili.svg">
                        </div>
                        <div>
                            <img src="/static/image/xigua.svg">
                        </div>
                        <div>
                            <img src="/static/image/wechatQr.jpg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-item">
                <h4>关于博客</h4>
                <div class="about-item-content">
                    <p>站点创建于2014年10月，起初目的只是单纯的想有个网站，不料却成为了一名程序猿。</p>
                    <p>最开始使用Wordpress构建，目前使用ThinkPHP6(PHP) + Mysql + Redis 驱动！</p>
                    <p>本站服务器使用阿里云ECS；静态文件存储于七牛云存储和阿里云OSS。</p>
                </div>
            </div>

            <div class="about-item">
                <h4>关于版权</h4>
                <div class="about-item-content">
                    <p>
                        本站采用「
                        <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.zh" target="_blank">署名-非商业性使用 4.0
                            国际 (CC BY-NC 4.0) </a>」
                        创作共享协议。如果您需要对本站原创内容（转载内容请联系原作者）进行转载、节选、二次创作,则需要在使用时注明文章出处, 并且不能出于商业目的。</p>
                    <p>出于成本考虑，本站的所有静态资源做了域名防盗链处理，请您在转载时将图片下载并重新上传。</p>
                </div>
            </div>

        </div>

    </div>
</div>


{include file="public/footer"}
</body>
{include file="public/js"}
</html>