<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{$page.title} - {$setting.site_name}</title>
    <meta name="keywords" content="{$page.keywords}">
    <meta name="description" content="{$page.describes}">
    {include file="public/meta"}
</head>
<body>
{include file="public/header"}
<div class="featured_image no_img_filter">
    <div class="img" style="background-image: url({$page.featured_image});"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {$page.content|raw}
        </div>
    </div>
</div>

{include file="public/footer"}
</body>
{include file="public/js"}
</html>