<!DOCTYPE html>
<html lang="zh">
<head>
    <title>Resume - {$setting.site_name}</title>
    <meta name="keywords" content="{$setting.site_keywords}">
    <meta name="description" content="{$setting.site_description}">
    {include file="public/meta"}
    <link rel="stylesheet" href="css/timeline.css">
    {load href="/static/timeline/timeline.css" /}

</head>
<body>
{include file="public/header"}
<div class="featured_image no_img_filter">
    <div class="img" style="background-image: url(/static/image/resume.jpg);"></div>
</div>
<div class="container" id="resume">
    <div class="row">
        <div class="col-lg-12 " style="text-align: center">
            <img class="avatar" src="/static/image/avatar/black and white.jpg"/>
            <h2>ChenYun</h2>
            <h4># Software Developer</h4>
        </div>
    </div>
    <div class="row" style="margin-top: 2rem">
        <div class="col-lg-6">

            <div>
                PHP
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%"
                         aria-valuenow="800" aria-valuemin="0" aria-valuemax="1000">800
                    </div>
                </div>
            </div>
            <div>
                HTML CSS
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%"
                         aria-valuenow="600" aria-valuemin="0" aria-valuemax="1000">600
                    </div>
                </div>
            </div>
            <div>
                JavaScript
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 65%"
                         aria-valuenow="65" aria-valuemin="0" aria-valuemax="1000">650
                    </div>
                </div>
            </div>
            <div>
                MySql
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-cyan" role="progressbar" style="width: 68%"
                         aria-valuenow="680" aria-valuemin="0" aria-valuemax="1000">680
                    </div>
                </div>
            </div>
            <div>
                Java
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-cyan" role="progressbar" style="width: 8%"
                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="1000">80
                    </div>
                </div>
            </div>
            <div>
                VUE
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-orange" role="progressbar" style="width: 42%"
                         aria-valuenow="420" aria-valuemin="0" aria-valuemax="1000">420
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                Git
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 65%"
                         aria-valuenow="650" aria-valuemin="0" aria-valuemax="1000">650
                    </div>
                </div>
            </div>
            <div>
                DOCKER
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-orange" role="progressbar" style="width: 62%"
                         aria-valuenow="620" aria-valuemin="0" aria-valuemax="1000">620
                    </div>
                </div>
            </div>
            <div>
                Linux
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 60%"
                         aria-valuenow="600" aria-valuemin="0" aria-valuemax="1000">600
                    </div>
                </div>
            </div>
            <div>
                Redis & Memcache
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-cyan" role="progressbar" style="width: 58%"
                         aria-valuenow="580" aria-valuemin="0" aria-valuemax="1000">580
                    </div>
                </div>
            </div>
            <div>
                Virtualization
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 56%"
                         aria-valuenow="560" aria-valuemin="0" aria-valuemax="1000">560
                    </div>
                </div>
            </div>
            <div>
                Design
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 10%"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="1000">100
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12" style="margin-top: 2rem">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" style="width: 100%"
                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>`
        </div>

    </div>
    <div class="row" style="margin-top: 4rem">
        <div class="col-lg-12">
            <div class="row">
                <div class="timeline">
                    <span class="timeline-label">
                        <span class="label  label-primary">Now</span>
                    </span>



                    <span class="timeline-label">
                        <span class="label label-info">2021</span>
                    </span>

                    <div class="timeline-item timeline-item-right">
                        <div class="timeline-point timeline-point-info"></div>
                        <div class="timeline-event timeline-event-info">
                            <div class="timeline-heading">
                                <h4>企业内微商城</h4>
                            </div>
                            <div class="timeline-body">
                                <p>企业内部咖啡屋使用,用来帮助员工自助点单。</p>
                            </div>
                            <div class="timeline-footer">
                                <p class="text-right">2020</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item timeline-item-left">
                        <div class="timeline-point timeline-point-blank"></div>
                        <div class="timeline-event timeline-event-default">
                            <div class="timeline-heading">
                                <h4>OA系统</h4>
                            </div>
                            <div class="timeline-body">
                                <p>主要负责了和钉钉对接的部分，推送消息、获取企业员工、员工信息匹配等操作。</p>
                            </div>
                            <div class="timeline-footer">
                                <p class="text-right">2020</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item timeline-item-right">
                        <div class="timeline-point timeline-point-blank"></div>
                        <div class="timeline-event timeline-event-default">
                            <div class="timeline-heading">
                                <h4>数据记录分析系统</h4>
                            </div>
                            <div class="timeline-body">
                                <p>记录并分析员工工作内容，进行员工考核。</p>
                            </div>
                            <div class="timeline-footer">
                                <p class="text-right">2020</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item timeline-item-left">
                        <div class="timeline-point timeline-point-blank"></div>
                        <div class="timeline-event timeline-event-default">
                            <div class="timeline-heading">
                                <h4>埋点统计系统</h4>
                            </div>
                            <div class="timeline-body">
                                <p>统计网站主要区域的点击、跳出、访问等操作的频次，用来优化用户操作流程。</p>
                            </div>
                            <div class="timeline-footer">
                                <p class="text-right">2020</p>
                            </div>
                        </div>
                    </div>

                    <span class="timeline-label">
                        <span class="label label-info">2020</span>
                    </span>

                    <div class="timeline-item timeline-item-right">
                        <div class="timeline-point timeline-point-warning"></div>
                        <div class="timeline-event timeline-event-warning">
                            <div class="timeline-heading">
                                <h4>大会员营销支付系统（韩国某集团旗下甜品品牌，未上线，系统已完成）</h4>
                            </div>
                            <div class="timeline-body">
                                <p>涵盖会员系统，营销系统，支付系统，积分系统，折扣系统的多维度用户支付系统。</p>
                            </div>
                            <div class="timeline-footer">
                                <p class="text-right">2019</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item timeline-item-left">
                        <div class="timeline-point timeline-point-warning"></div>
                        <div class="timeline-event timeline-event-warning">
                            <div class="timeline-heading">
                                <h4>POS 收银系统 （未上线）</h4>
                            </div>
                            <div class="timeline-body">
                                <p>支持门店点单，订单管理，对账分析的收银系统。</p>
                            </div>
                            <div class="timeline-footer">
                                <p class="text-right">2019</p>
                            </div>
                        </div>
                    </div>

                    <span class="timeline-label">
                        <span class="label label-info">2019</span>
                    </span>

                    <div class="timeline-item timeline-item-left">
                        <div class="timeline-point timeline-point-blank"></div>
                        <div class="timeline-event timeline-event-default">
                            <div class="timeline-heading">
                                <h4>外卖小程序（韩国某集团旗下甜品品牌）</h4>
                            </div>
                            <div class="timeline-body">
                                <p>主要用来进行手机外送点单操作，同时对接营销系统，可进行礼品卡，积分的使用。</p>
                            </div>
                            <div class="timeline-footer">
                                <p class="text-right">2018</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item timeline-item-right">
                        <div class="timeline-point timeline-point-blank"></div>
                        <div class="timeline-event timeline-event-default">
                            <div class="timeline-heading">
                                <h4>VUE商城 （某代餐饮品）</h4>
                            </div>
                            <div class="timeline-body">
                                <p>主要是微信内销售饮品的商城，该项目使我学会了VUE。</p>
                            </div>
                            <div class="timeline-footer">
                                <p class="text-right">2018</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item timeline-item-left">
                        <div class="timeline-point timeline-point-blank"></div>
                        <div class="timeline-event timeline-event-default">
                            <div class="timeline-heading">
                                <h4>服务商微信支付接口（韩国某集团旗下甜品品牌）</h4>
                            </div>
                            <div class="timeline-body">
                                <p>微信第三方服务商接口，除支付外同时提供各种营销方式，如积分，会员，折扣，优惠券，礼品卡等多种方式。</p>
                            </div>
                            <div class="timeline-footer">
                                <p class="text-right">2018</p>
                            </div>
                        </div>
                    </div>

                    <span class="timeline-label">
                        <span class="label label-info">2018</span>
                    </span>

                    <div class="timeline-item">
                        <div class="timeline-point timeline-point-success"></div>
                        <div class="timeline-event timeline-event-success">
                            <div class="timeline-heading">
                                <h4>天使用户反馈系统（某面品品牌）</h4>
                            </div>
                            <div class="timeline-body">
                                <p>通过发红包的方式鼓励用户每天填报使用记录，后台可生成正月的填报报表。</p>
                            </div>
                            <div class="timeline-footer">
                                <p class="text-right">2017</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-point timeline-point-blank"></div>
                        <div class="timeline-event timeline-event-default">
                            <div class="timeline-heading">
                                <h4>良票</h4>
                            </div>
                            <div class="timeline-body">
                                <p>项目分为 用户、推广者、商家、商家核销员、服务商、渠道商、平台七大角色，主要通过发放优惠券的方式为解决商家引客进店难的问题。</p>
                            </div>
                            <div class="timeline-footer">
                                <p class="text-right">2017</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-point timeline-point-blank"></div>
                        <div class="timeline-event timeline-event-default">
                            <div class="timeline-heading">
                                <h4>新肝行动募捐投票系统</h4>
                            </div>
                            <div class="timeline-body">
                                <p>该项目是红十字会下辖一肝病医院发起的，用户为肝病患者进行捐助。</p>
                            </div>
                            <div class="timeline-footer">
                                <p class="text-right">2017</p>
                            </div>
                        </div>
                    </div>

                    <span class="timeline-label">
                        <span class="label label-info">2017</span>
                    </span>

                    <span class="timeline-label">
                        <span class="label label-primary">Long ago</span>
                    </span>

                </div>
            </div>
        </div>
    </div>

</div>


{include file="public/footer"}
</body>
{include file="public/js"}
</html>