<!DOCTYPE html>
<html lang="zh">
<head>
    <title>Resume - {$setting.site_name}</title>
    <meta name="keywords" content="{$setting.site_keywords}">
    <meta name="description" content="{$setting.site_description}">
    {include file="public/meta"}
</head>
<body>
{include file="public/header"}
<div class="featured_image no_img_filter">
    <div class="img" style="background-image: url(/static/image/resume.jpg);"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">

        </div>

    </div>
</div>


{include file="public/footer"}
</body>
{include file="public/js"}
</html>